body{
   margin: 0;
   padding: 0;
}

.main{
   width: 100%;
   margin: auto;
   display: flex;
}

.leftside{
   width: 20%;
   background-color: black;
}

.profile-img{
   width: 120px;
   display: block;
   margin: auto;
   margin-top: 20px;
   border: 8px solid #2c2f3f;
   border-radius: 50%;
}

.profile h1{
   color: white;
   text-align: center;
}

.rightside{
   width: 80%;
   background-color: beige;
   background-image: url(img/hero-bg.jpg);
   background-size: cover;
   height: 100vh;
   display: flex;
   justify-content: center;
}

.signature{
   margin-top: 15%;
   color: white;
   font-weight: bold;
   font-size: 3em;
}

.icons{
   width: 70%;
   margin: auto;
}

.icons img{
   border-radius: 20%;
   width: 30px;
   border: 1px solid #777475;
   margin: 10px;
}

.nav ul li{
   list-style: none;
   margin-top: 20px;
}

.nav ul li a{
   color: white;
   text-decoration: none;
   font-size: 1.5em;
   color:#777475 ;
}

.nav ul li a:hover{
   color: white;
   text-decoration: underline;
}

.resume{
   width: 80%;
   background-color: white;
   height: 100vh;
   display: flex;
   padding: 30px;
   box-sizing: border-box;
   flex-direction: column; 
}

.title{
   font-size: 2em;
   font-weight: bold;
   display: inline-block;
   color: #2c2f3f;
   border-bottom: 3px solid #149ddd;
   padding-bottom: 20px;
}

.short-resume{
   margin: 10px;
   font-size: 1.3em;
   text-align: justify;
}

.about-me{
   margin: 10px;
   display: flex;
   border-bottom: solid 2px;
   /* width: 100%; */
}

.resume-img img{
   width: 400px;
}

.description{
   padding-left: 20px;
   /* border: solid; */
   width: 100%;
}

.description h1 {
   padding: 0;
   margin: 0;
   color: #2c2f3f;
   margin-bottom: 40px;
}

.description p{
   font-size: 1.3em;
   margin: 0;
}

.description p span{
   font-weight: bold;
}
