body{
   margin: 0;
   padding: 0;
}

.main{
   background-color: antiquewhite;
   width: 100%;
   display: flex;
}

.left-side{
   width: 20%;
   background-color: black;
}

.profile-img{
   width: 120px;
   margin: auto;
   display: block;
   margin-top:20px;
   border-radius: 50%;
   border:solid 10px #2c2f3f;
}

.right-side{
   width: 80%;
   height: 100vh;
   background-image: url(img/bg.jpg);
   background-size: cover;
   display: flex;
   justify-content: center;
}

.full-name{
   color: white;
   font-weight: bold;
   font-size: 3em;
   margin-top: 15%;
}
.nav{
   margin-top: 100px;
}

.nav ul {
   list-style: none;
}

.nav ul li {
   margin-top:15px;
}

.nav ul li a {
   color: #777475;
   font-size: 1.3em;
   text-decoration: none;
}

.nav ul li a:hover{
   color: white;
   text-decoration: underline;
}

.resume {
   height: 100vh;
}