body {
   background-color: aqua;
}

div{
   border: solid red 10px;
   margin: 10px;
   padding: 20px;
   font-size: 1em;
   /* border-radius: 20%; */
}

.container{
   background-color: bisque;
   display: flex;
}

.city{
   background-color: aquamarine;
   font-weight: bold;
}

.container div {
   background-color: cadetblue;
}

.land{
   width: 200px;
}

.my-img{
   width: 100px;
   border: solid 10px gray;
}

.hobby li{
   border-bottom: solid 2px green;
   width: 150px;
}